.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #00ccff;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#mapDiv {
  min-height: 80vh;
}

p {
  margin: 1vh;
}

.blue {
  color: blue;
}

.strikethrough {
  text-decoration: line-through;
}
