.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #00ccff;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#mapDiv {
  min-height: 80vh;
}

p {
  margin: 1vh;
}

.blue {
  color: blue;
}

.strikethrough {
  text-decoration: line-through;
}

.info-drop {
  position: absolute;
  right: 2vh;
  top: 2vh;
}

.info-box {
  position: absolute;
  width: 70vw;
  right: 15vw;
  left: 15vw;
  bottom: 2vh;
  z-index: 100;
  background-color: darkblue;
  color: white;
}

.info-box p {
  margin: 2vw;
}

a {
  color: inherit;
}

a:hover {
  background-color: darkorchid;
}

span.i {
  font-style: italic;
}

.title {
  font-size: 5vh;
  letter-spacing: 0.3em;
}

.popup h2,
.popupdata {
  text-align: center;
}

.layerslider {
  bottom: 4vh;
  right: 6vh;
}
